@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@800&display=swap');

body {
    margin: 0;
    padding: 0;
}

.panel {
    height: 100vh;
    background: linear-gradient(to bottom, #ffffff 0%, #0000ff 50%);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

}

#result {
    background-color: rgba(231, 10, 10, 0.235);
    border-radius: 15px;
    font-family: 'Ysabeau', sans-serif;
    width: 50%;
  
}

input {
    padding-left: 20px;
    height: 47px;
    width: 40%;
    border-radius: 30px;
    border: none;
    float: right;
    background-color: rgba(249, 249, 249, 0.532);

}

.heder {
    height: 65px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.139);
}
.fa-magnifying-glass{
    color: #ffffff;
     float: right; 
     font-size: 25px;
}
.fa-cloud-bolt{
    color: #f2be02;
    font-size: 35px;
}


#deg {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;

}

.disc {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}


#update {
font-size: 20px;
}



@media(max-width:800px) {
    #result {
        width: 90%;
        
    }

    input{
        width: 75%;
    }
    

}
@media(max-width:428px) {
    #result {
        width: 90%;
        
    }

   .display{
    width: 50%;
   }
   #deg{
    font-size: 35px;
   }
}
